<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <img class="app-sidebar__user-avatar" src="/static/apps/admin/img/avatar.jpg" alt="User Image">
    <div>
      <p class="app-sidebar__user-name">Admin</p>
      <p class="app-sidebar__user-designation">超级管理员</p>
    </div>
  </div>
  <ul class="app-menu">
    <li data-page-id="view-index"><a class="app-menu__item" href="{{ url_for('admin.view_index') }}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">概览</span></a></li>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">测试</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li data-page-id="view-test-blank"><a class="treeview-item" href="{{ url_for('admin.view_test_blank') }}"><i class="icon fa fa-circle-o"></i> 空白页</a></li>
      </ul>
    </li>
  </ul>
</aside>