<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/static/apps/admin/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="/static/_libs/font-awesome/css/font-awesome.min.css">
    <title>微信订阅号运营平台</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h2>微信订阅号运营平台</h2>
      </div>
      <div class="login-box">
        <div class="login-form">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>找回密码</h3>
          <div class="form-group">
            <label class="control-label">新密码</label>
            <input class="form-control" type="text" placeholder="密码" autofocus>
          </div>
          <div class="form-group">
            <label class="control-label">确认密码</label>
            <input class="form-control" type="password" placeholder="密码">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-lock fa-lg fa-fw"></i>确 定</button>
          </div>
        </div>
      </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="/static/apps/admin/js/jquery-3.2.1.min.js"></script>
    <script src="/static/apps/admin/js/popper.min.js"></script>
    <script src="/static/apps/admin/js/bootstrap.min.js"></script>
    <script src="/static/apps/admin/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/static/apps/admin/js/plugins/pace.min.js"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
        $('.login-box').toggleClass('flipped');
        return false;
      });
    </script>
  </body>
</html>